.Rproj.user
.Rhistory
.RData
.Ruserdata
Data/Raw/*.csv
Data/Raw/*.rds

# large data
Data/Raw/*.csv
Data/Raw/*.rds
*.DS_Store
.Rhistory
.Rproj.user/

# Ignore everything in Data by default
Data/**

# Allow these subfolders to be versioned
!Data/External/**
!Data/Processed/**
# (Optional) If you want Interim tracked too:
!Data/Interim/**

# Always allow the placeholder
!.gitkeep